[project]
	description = Scrum Developer Training. Time 1/3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/leandrofonsek
[access "refs/for/refs/*"]
	read = group user/leandrofonsek
	push = group user/leandrofonsek
	label-Code-Review = -2..+2 group user/leandrofonsek
	label-Verified = -1..+1 group user/leandrofonsek
	rebase = group user/leandrofonsek
	removeReviewer = group user/leandrofonsek
	submit = group user/leandrofonsek
[access "refs/heads/*"]
	read = group user/leandrofonsek
	create = group user/leandrofonsek
	push = +force group user/leandrofonsek
	pushMerge = group user/leandrofonsek
[access "refs/tags/*"]
	push = +force group user/leandrofonsek
	pushTag = group user/leandrofonsek
	pushSignedTag = group user/leandrofonsek
